.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 20px;
    margin: 20px;
    border-color: black;
    background-color: aqua;
    border-style: solid;
    
}
.grid-item{
    border: 20px;
    margin: 20px;
    padding: 10px;
    border-color: black;
    background-color: aquamarine;
    border-style: solid;
}